*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
}


.head_one{
    background-color: #3A0840;
    color: white;
    padding: 3em 0;
}

.head_one > h1{
    margin-left: 5em;
    text-decoration:underline;
    text-decoration-style: solid;
 
}

.sec_1{
    display: flex;
    justify-content: space-around;
}


.ul_side{
   
    list-style-type: none;

}

.ul_side li{
    padding: 10px;
    background-color: grey;
    border: solid 1px transparent;
    list-style-type: none;
    margin-bottom: 2px;
    color: white;


}

.ul_side li:hover{
    border-left: solid 6px black;
    font-weight: bolder;
}



